.replace-me-for-specific-class.example8{
    max-width: 100%;
    width:100%;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    thead td,th{
        text-align: center;
        padding:10px 0px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom:solid 5px #1abc9c;
        border-top:solid 5px #1abc9c;
        font-size:12px;
    }
    tbody td{
        padding:4px 4px;
        background:#16a085;
        text-align:center;
        vertical-align: middle;
        border:none;
    }
    tbody tr{
        color:white;
        
    }
}

