.replace-me-for-specific-class.example7{
    max-width: 100%;
    width:100%;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    thead td, th{
        text-align: center;
        padding:10px 0px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom:solid 5px #3498db;
        font-size:12px;
    }
    tbody td{
        padding:4px 4px;
        background:#efefef;
        text-align:center;
        vertical-align: middle;
    }
    tbody tr{
        color:#444;
        
    }
    tbody tr:nth-child(odd) td{
        background:#fff;
    }
}

