/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
  @import 'footable.standalone.min'; 
  @import 'font-awesome';
  @import 'footable.icons';
  
  ul.pagination{
    border-top:none;
    &:after, &:before{
      display: none;
    }
    
  }
  

  .footable-filtering .input-group-btn .dropdown-toggle{
    
    height: auto;
    &:after{
      display: none;
    }
    
  }

