/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
  @import 'footable.standalone.min'; 
  @import 'font-awesome';
  @import 'footable.icons';
  
  ul.pagination{
    border-top:none;
    &:after, &:before{
      display: none;
    }
    
  }
  
  .footable-filtering .input-group-btn .dropdown-toggle{
    
    height: auto;
    &:after{
      display: none;
    }
    
  }

  .jtrt_476_exStyle_example2{
    max-width: 100%;
    width:100%;
    text-align: center;
    box-shadow:0px 0px 5px #ccc;
    padding:10px;
    box-sizing: border-box;
    thead td{
        text-align: center;
        padding:10px 0px;
        background:#2ecc71;
        color:white;
        font-weight: bold;
        text-transform: uppercase;
        border:none;
    }
    tbody td{
        padding:4px 4px;
        text-align:center;
        border:none;
    }
    tbody tr{
        background:#28b463;
        color:#fbfbfb;
    }
  }