    
    [&*REPLACE*&], caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }


    [&*REPLACE*&] th {
        text-align: left;
    }

    [&*REPLACE*&].table {
        width: 100%;
        margin-bottom: 20px;
    }

    [&*REPLACE*&].table > thead > tr > th,
    [&*REPLACE*&].table > tbody > tr > th,
    [&*REPLACE*&].table > tfoot > tr > th,
    [&*REPLACE*&].table > thead > tr > td,
    [&*REPLACE*&].table > tbody > tr > td,
    [&*REPLACE*&].table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    [&*REPLACE*&].table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    [&*REPLACE*&].table > caption + thead > tr:first-child > th,
    [&*REPLACE*&].table > colgroup + thead > tr:first-child > th,
    [&*REPLACE*&].table > thead:first-child > tr:first-child > th,
    [&*REPLACE*&].table > caption + thead > tr:first-child > td,
    [&*REPLACE*&].table > colgroup + thead > tr:first-child > td,
    [&*REPLACE*&].table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    [&*REPLACE*&].table > tbody + tbody {
        border-top: 2px solid #ddd;
    }

    [&*REPLACE*&].table .table {
        background-color: #fff;
    }

    [&*REPLACE*&].table-condensed > thead > tr > th,
    [&*REPLACE*&].table-condensed > tbody > tr > th,
    [&*REPLACE*&].table-condensed > tfoot > tr > th,
    [&*REPLACE*&].table-condensed > thead > tr > td,
    [&*REPLACE*&].table-condensed > tbody > tr > td,
    [&*REPLACE*&].table-condensed > tfoot > tr > td {
        padding: 5px;
    }

    [&*REPLACE*&].table-bordered {
        border: 1px solid #ddd;
    }

    [&*REPLACE*&].table-bordered > thead > tr > th,
    [&*REPLACE*&].table-bordered > tbody > tr > th,
    [&*REPLACE*&].table-bordered > tfoot > tr > th,
    [&*REPLACE*&].table-bordered > thead > tr > td,
    [&*REPLACE*&].table-bordered > tbody > tr > td,
    [&*REPLACE*&].table-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
    }

    [&*REPLACE*&].table-bordered > thead > tr > th,
    [&*REPLACE*&].table-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }

    [&*REPLACE*&].table-striped > tbody > tr:nth-child(odd) > td,
    [&*REPLACE*&].table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #eaeaea;
    }

    [&*REPLACE*&].table-hover > tbody > tr:hover > td,
    [&*REPLACE*&].table-hover > tbody > tr:hover > th {
        background-color: #f5f5f5;
    }
    
}