.replace-me-for-specific-class.example7 {
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; }
  .replace-me-for-specific-class.example7 thead td, .replace-me-for-specific-class.example7 th {
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 5px #3498db;
    font-size: 12px; }
  .replace-me-for-specific-class.example7 tbody td {
    padding: 4px 4px;
    background: #efefef;
    text-align: center;
    vertical-align: middle; }
  .replace-me-for-specific-class.example7 tbody tr {
    color: #444; }
  .replace-me-for-specific-class.example7 tbody tr:nth-child(odd) td {
    background: #fff; }
