/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 table tr td.htRight{
     text-align: right;
 }

 table tr td.htCenter{
     text-align: center;
 }

 table tr td.htLeft{
     text-align: left;
 }

 table tr td.htJustify{
     text-align: justify;
 }

 table tr td.border-bottom{
     border-bottom:solid 1px black;
 }
 table tr td.border-top{
     border-top:solid 1px black;
 }
 table tr td.border-right{
     border-right:solid 1px black;
 }
 table tr td.border-left{
     border-left:solid 1px black;
 }