div.jt_table_steps{
    background:#ededed;
    padding:0px 14px;
    display: inline-block;
    border:solid 1px #edede1;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        li{
            display: inline-block;
            color:#444;
            margin:0 14px 0 0;
            padding:6px 14px;
            &.jt_step_active{
                background:#6dcff6;
                color:#ededed;
            }
        }
    }
}

.jtrt_editor_container{
    padding:14px;
    border:#ededed solid 1px;
    p.jtrt_steps_desc{
        margin: 0;
        text-align: center;
    }
    >div:not(.active){
        display:none;
    }
    
}