.jt_step1_container{
    width:60%;
    margin:50px auto 20px auto;
    text-align: center;
        
    ul{
        
        input{
            width:1px;
            height:1px;
            position:absolute;
            z-index:-1;
        }
        li{
            display:inline-block;
            
        }
        &div.jt_step_1_btn, label{
            width:150px;
            padding:14px;
            border:solid 1px #ccc;
            text-align: center;
            background:#f8f8f8;
            box-shadow: 1px 1px 5px #ccc;
            margin-right:14px;
            transition: all 0.3s;
            cursor:pointer;
            &:hover{
                box-shadow:1px 1px 7px #B5A8A8;
            }
            img{
                
                max-width: 100%;
                width: 54px;
                height: 50px;
                margin-bottom: 14px;

            } 
        }
    }

}

